.noise {
  margin: 36px;
  h1 {
    font-size: 22px;
    font-weight: normal;
    @include prefixer(transition,all 100ms ease-out, true, false, false );
    transition: all 100ms ease-out;
    &.--isPlaying {
      font-size: 40px;
      @include prefixer(transition,all 100ms ease-out, true, false, false );
      transition: all 100ms ease-out;
    }
    &.--isBlur {
      filter: blur(1px);
      @include prefixer(transition,all 100ms ease-out, true, false, false );
      transition: all 100ms ease-out;
    }
  }

}
.brown {
  color: #654538;
}

.pink {
  color: #F26AA7;
}

.white {
  color: #fff;
}
.blue {
  color: #2F82C7;
}

.violet {
  color: #6E429C;
}

.grey {
  color: #848484;
}