.noise {
  margin: 36px;
  h1 {
    font-size: 22px;
    font-weight: normal;
    @include prefixer(transition,all 200ms ease-out, true, false, false );
    transition: 200ms -webkit-filter ease-out;
    transition: all 200ms ease-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    &.--isPlaying {
      transform: scale(1.5);
      @include prefixer(transition,all 200ms ease-out, true, false, false );
      transition: all 200ms ease-out;
    }
    &.--isBlur {
      -webkit-filter: blur(1px);
      filter: blur(1px);
      @include prefixer(transition,all 200ms ease-out, true, false, false );
      transition: all 200ms ease-out;
    }
  }

}
.brown {
  color: #654538;
}

.pink {
  color: #F26AA7;
}

.white {
  color: #fff;
}
.blue {
  color: #2F82C7;
}

.violet {
  color: #6E429C;
}

.grey {
  color: #848484;
}