.noise {
  margin: 36px;
  h1 {
    font-size: 22px;
    font-weight: normal;
   
  }
}
.brown {
  color: #654538;
}

.pink {
  color: #F26AA7;
}

.white {
  color: #fff;
}
.blue {
  color: #2F82C7;
}

.violet {
  color: #6E429C;
}

.grey {
  color: #848484;
}