//blanket fade --------------------
 .--isActive {
  opacity: 1;
  pointer-events: all;
  z-index: 2;
  @include prefixer(transition, opacity 200ms ease-out, true, false, false);
  transition: opacity 200ms ease-out;
}
.--isHidden {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  @include prefixer(transition, opacity 200ms ease-out, true, false, false);
  transition: opacity 200ms ease-out;
}

@include media-min($iphoneSE) {
  .transform {
    @include prefixer(transition, transform 800ms cubic-bezier(.6, 0, .2, 1), true ,false ,false );
    @include prefixer(transform, translate3d(17px, 0, 0), true ,true ,false);
    transition: transform 800ms cubic-bezier(.6, 0, .2, 1);
    transform: translate3d(12.5vw, 0, 0);
    &.is--transform {
      @include prefixer(transition, transform 800ms cubic-bezier(.6, 0, .2, 1), true ,false ,false );
      @include prefixer(transform, translate3d(0, 0, 0), true ,true ,false);
      transition: transform 800ms cubic-bezier(.6, 0, .2, 1);
      transform: translate3d(0, 0, 0);
    }
  }
}
@include media-min($ipad) {
  .transform {
    @include prefixer(transition, transform 800ms cubic-bezier(.6, 0, .2, 1), true ,false ,false );
    @include prefixer(transform, translate3d(8.333vw, 0, 0), true ,true ,false);
    transition: transform 800ms cubic-bezier(.6, 0, .2, 1);
    transform: translate3d(8.333vw, 0, 0);
    &.is--transform {
      @include prefixer(transition, transform 800ms cubic-bezier(.6, 0, .2, 1), true ,false,false );
      @include prefixer(transform, translate3d(0, 0, 0), true ,true ,false);
      transition: transform 800ms cubic-bezier(.6, 0, .2, 1);
      transform: translate3d(0, 0, 0);
    }
  }
}
@include media-min($desktop) {
  .transform {
    @include prefixer(transition, transform 800ms cubic-bezier(.6, 0, .2, 1), true ,false ,false );
    @include prefixer(transform, translate3d(9.375vw, 0, 0), true ,true ,false);
    transition: transform 800ms cubic-bezier(.6, 0, .2, 1);
    transform: translate3d(9.375vw, 0, 0);
    &.is--transform {
      @include prefixer(transition, transform 800ms cubic-bezier(.6, 0, .2, 1), true ,false,false );
      transition: transform 800ms cubic-bezier(.6, 0, .2, 1);
    }
    &.pano-slider {
      &.is--transform {
        @include prefixer(transform, translate3d(3.125vw, 0, 0), true ,true ,false);
        transform: translate3d(3.125vw, 0, 0);
      }
    }
    &.pano-slider {
      &.is--transform:hover {
        @include prefixer(transition, transform 400ms cubic-bezier(.1, 0, .2, 1), true ,false,false );
        @include prefixer(transform, translate3d(0, 0, 0), true ,true ,false);
        transition: transform 400ms cubic-bezier(.1, 0, .2, 1);
        transform: translate3d(0, 0, 0);
      }
    }
    &.slice-slider {
      &.is--transform {
        @include prefixer(transform, translate3d(0, 0, 0), true ,true ,false);
        transform: translate3d(0, 0, 0); 
      }
    }
    
  }
}



