//BREAKPOINTS
$iphoneSE: 320px;
$mobile: 375px;
$ipad: 720px;
$ipad-pro: 1024px;
$desktop: 1280px;
$ipad-landscape: 1366px;
$desktop-lrg: 1440px;
$desktop-xl: 1680px;
$desktop-xxl: 1920px;
$desktop-mega: 2560px;

//COLORS

$black: #000;
$white: #fff;
$light-grey: #B4B4B4;
$dark-grey: #7A7A7A;

//SPACING 
$xxs-padding: 4vw;
$xs-padding: 8vw;
$s-padding: 12.8vw;
$m-padding: 16vw;
$l-padding: 21.34vw;
$xl-padding: 34.13vw;